<% include header %>

<div class="welkom">
<img src="img/logo.jpg" class="logo">
<h1>app - gallo romains museum</h1>
</div>

<input id="searchBox" type="text" />
<button id="id_of_the_search_box_button">
Search
</button>

<nav>

  <% for (var i = 0; i < categorieen.length; i++) { %><br>
    <a href="/categorieen/ <%- i %>" class="nav"><%- categorieen[i] %></a>
  <% } %>
</nav>


  <% var teller = 1; %>
  <% nieuws.forEach(function(item){ %>
    <section class="max">
        <h2 class="titel">
          <a href=/items/<%- item.id %>><%- item.titel %></a>
        </h2>
        <img  src="/img/<%- item.afbeeldings %>" class="klein" alt="">
        

        <p class="samenvatting"><%- item.samenvatting %></p>
    
    </section>
    <br>
    <% teller++;}); %>


<% include footer %>
